<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hidcontroller">

    <!-- Bluetooth HID permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />
    <!-- Camera for barcode scanning (Phase later) -->
    <uses-permission android:name="android.permission.CAMERA" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Internet for future features -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Bluetooth HID Service (will add later) -->
        <!-- <service android:name=".BluetoothHIDService" /> -->
        <!-- Keyboard Activity -->
        <activity
            android:name=".KeyboardActivity"
            android:screenOrientation="landscape"
            />

        <activity
            android:name=".BluetoothConnectionActivity"
            android:label="Connect Device" />

        <activity
            android:name=".TouchpadActivity" />

        <activity
            android:name=".ModeSelectActivity" />

        <service
            android:name=".BluetoothHIDService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>